/*====  RESET ============================ */
ul {
  list-style:none;
}

a {
  text-decoration:none;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*====  VARIABLES ============================ */
:root {
 /* colors */
  --hue: 160;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

/*===  BASE ============================ */
html {
  scroll-behavior:auto;
}

body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: black;
  -webkit-font-smoothing: auto;
  text-align: center;
}


/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 1rem 0;
}

.section .title {
  margin-bottom: 5rem;
}

.section header {
  margin-bottom: 5rem;
}


#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  text-align: center;
  transition: color 0.2s;
  position: relative;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*====  HOME ============================ */
#home .image {
  position: relative;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text img {
  width: 40%;
  height: 40%;
}

#home .text h2 {
  margin-top: 5rem;
  margin-bottom: 1rem;
}
#home .text p {
  margin-top: 2rem;
  margin-bottom: 5rem;
}


/*====  MENU ============================ */
#about .image {
  position:relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

.grid{
  display: inline;
  flex-direction: row;
}

.header2 {
  color: #2E2E2E;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 20%;
  width: 100%;
  font-size: 1.5rem;
  position: relative;
 
}

.header2 h1{
  text-align: center;
  margin-bottom: 3rem;
}

.header2 h2{
  text-align: center;
  margin-bottom: 3rem;
}

.imagemsobre{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.subheader > h1 {
  font-size: 3rem;
}

.desc {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin-bottom: 10em;
  text-align: center;
  font-size: large;
}

.menu {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  width: 90%;
  gap:50px
}
.menu .container {
  display: flex;
  flex-direction: column;
  box-shadow: #2E2E2E 2px 2px 2px 2px;
  border-radius: 25%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
  max-width: 100%; 
}

.menu .container img {
  max-width: 100%; 
  height: auto;
}

.menu-column {
  flex: 1;
  margin: 0 20px;
}

.menu-column h3 {
  text-align: center;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}

.coca1,
.coca2,
.fanta2,
.sprite2,
.guarana2,
.cocalata,
.calabresa_img,
.quatro_img,
.italiana_img,
.presunto_img {
height: 10em;
width: 10em;
}

.menu > section > h3 {
font-size: 3rem;
}

.reserve {
  color: black;
  text-align: center;
  margin-top: 11rem;
  height: 450px;

}
form {
display: flex;
flex-direction: column;
align-items: center;
}
select {
width: 150px;
margin-bottom: 1rem;
border: 2px solid #2E2E2E;
border-radius: 4px;
}
button{
color: black;
background-color: white;
border: 3px solid #2E2E2E;
}
.reservar {
width: 10em;
height: 3em;
}

.footer {
background: #2E2E2E;
color: white;
height: 25vh;
}
.footer > h2 {
font-size: 3rem;
text-align: center;
margin-bottom: 0.5rem;
}
.footer > h3 {
font-weight: 200;
text-align: center;
}